.intro {
	height: 100dvh;
	background-color: #ccc;
}
.introLogo p {
	text-transform: uppercase;
	color: #fff;
}
.introLogo {
	position: absolute;
	margin: auto 0;
	padding: .75rem;
	width: 100%;
	max-width: 100%;
	display: flex;
	align-items: center;
	height: 100vh;
	z-index: 10; 
	justify-content: space-between; 
}
.introTextLeft {
	object-fit: center;   
}

.introPicLogo{
	width: 40%;
}
.introTextRight {
	object-fit: center;
	text-align: right;  
	opacity: .5;
}
.cityMenu {
	display: flex;
	position: absolute;
	bottom: 0;
	margin: auto 0;
	padding: 0 .75rem;
	width: 100%;
	z-index: 100;
}
.cityMenu a {
	text-transform: uppercase;
	font-size: 2vw;
	font-weight: 600;
	margin: .5rem 1rem .5rem 0;
	border-top: 1px solid #fff;
	color: #fff;
}
.cityMenuItem {
	width: 25%;
}
.about_short {
	margin: 5rem .75rem 5rem .75rem;
}
.logo-small-text {
    display: inline-block;
	vertical-align: center;
	height: calc(var(--line-height)*1em); 
	position: relative;
	top: .1em;
	margin: 0 .1em;
	width: 5%;
}
.about_short h1 {
	text-transform: uppercase;
}
.map {
	width: 100%;
	height: 80vw;
	background-color: #f1f1f1;
}
.about_long {
	margin: .75rem;
}
.about_long p {
	text-transform: uppercase;
	text-align: justify;
	line-height: 1.3;
	letter-spacing: .025rem; 
	margin: 0;
}
.about_long_row {
	display: flex;
	gap: .5rem;
}
.main_text_grid_1 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	margin-bottom: .15rem;
}
.main_text_grid_2 {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: 1fr;
} 



/* 768 ***************************************/
@media (max-width: 768px) {
	.introTextLeft {
		display: none;
	}
	.introTextRight {
		display: none;
	}
	.introPicLogo{
		width: 100%;
	}
	.cityMenu {
		display: grid;
		padding-bottom: 2.5rem;
	}
	.cityMenu a {
		font-size: 20px;
		margin: .2rem auto .2rem 0;
		border-top: 0;
	}
	.about_long_row {
		display: block; 
	}
	.logo-small-text { 
		margin: 0 .15rem 0 .15em;
		width: 6.5%;
	}
	.about_long p { 
		text-align: left; 
	}
	.logo-small-text { 
		margin: 0 .15rem 0 .15em;
		width: 6.75%;
	}
	.main_text_grid_1 {
		grid-template-columns: repeat(2, 1fr);
	}
	.main_text_grid_1 .col {
		margin-bottom: 1rem;
		padding-right: 1rem;
	}
	.main_text_grid_2 .col {
		margin-bottom: 1rem;
		padding-right: 1rem;
	}
}


/* 480 *************************************/
@media (max-width: 480px) {
	.logo-small-text { 
		margin: 0 .3rem 0 .3em;
		width: 13%;
	}
	.about_short {
		margin: 1rem .5rem 5rem .5rem;
	}
	.about_long {
		margin: .5rem;
	}
	.main_text_grid_1 {
		grid-template-columns: repeat(1, 1fr);
	}
	.main_text_grid_1 .col {
		margin-bottom: 1rem;
		padding-right: 0;
	}
	.main_text_grid_2 .col {
		margin-bottom: 1rem;
		padding-right: 0;
	}
}


