@charset "utf-8"
article, footer, header, menu, nav, section {
	display: block;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,
input,textarea,p,blockquote,th,td,hr,figure, figcaption{
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Inter_Tight', helvetica, arial, sans-serif;
	font-weight: normal;
	font-size: 18px;
	text-rendering: optimizeLegibility;
}

/*@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

.inter-tight-<uniquifier> {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

@font-face {
    font-family: 'Inter_Tight';  
    src: url(../public/fonts/InterTight-Regular.woff);
    src: url(../public/fonts/InterTight-Regular.woff2);
}

h1 {
	font-family: 'Inter_Tight'; 
	font-weight: 600;
	font-size: 3vw;
	letter-spacing: .1rem;
	line-height: ;
}
h2 {}
h3 {}
p {
	font-family: ;
	font-size: ;
	font-weight: ;
	line-height: ;
	margin-bottom: ;
	margin-top: ;

}
a {
	text-decoration: ;
	color: ;
}
a:hover {
	opacity: .7;
	text-decoration: none;
	color: #111;
}


.menu {
	border: 1px solid red;
	position: fixed;
}
.menu_mobile {
	display: none;
}

nav ul {

}

nav li {}




